work/drip/drip_auto
work/drip/dripconf.txt
work/drip/gdrip
work/drip/guiconf.txt
work/fg/dripconf.txt
work/fg/guiconf.txt
work/fg/fg
work/drip_startup
work/fg_startup
work/dripstart.start
work/fg_start.start
.DS_Store
.project
*~
